.Navigation ul{
    display: flex;
    justify-content: space-between;
}

.Navigation a{
    font-weight: 700;
    font-size: 20px;
    list-style: none;
    color: cornsilk;
    text-decoration: none;
    margin: .8rem 1.6rem;
    transition: all .3s linear;
}

.Navigation a:hover,
.Navigation a:active{
    text-decoration: underline;
    opacity: .8;
}